extends ../layout

block content
    h1= title
    p
        a.button(href='newLoan') Create New Loan
    p
        | Filters
        a(href='allLoans') All
        |  |
        a(href='overdueLoans') Overdue
        |  |
        a(href='checkedLoans') Checked Out
    table
        thead
            tr
                th Book
                th Patron
                th Loaned on
                th Return by
                th Returned on
                th Action
        tbody
            each loan in loans
                tr
                    td
                        each book in books
                          - if (loan.book_id === book.id)
                            a(href='bookDetail')= book.title
                    td
                        each patron in patrons
                          - if (loan.patron_id === patron.id)
                            a(href='patronDetail') #{patron.first_name} #{patron.last_name}
                    td= loan.loaned_on
                    td= loan.return_by
                    td= loan.returned_on
                    td
                        a.button(href='returnBook') Return Book
