extends ../layout

block content
    h1= title
    p
        a.button(href='newLoan') Create New Loan
    p
        | Filters 
        a(href='allLoans') All
        |  | 
        a(href='overdueLoans') Overdue
        |  | 
        a(href='checkedLoans') Checked Out
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
        tbody
          each loan in loans
            tr
              td
                each book in books
                  - if (loan.book_id === book.id)
                    a(href='/' + book.id + '/book')= book.title
              td
                each patron in patrons
                  - if (loan.patron_id === patron.id)
                    a(href='/' + patron.id + '/patron') #{patron.first_name} #{patron.last_name}
              td #{loan.loaned_on.getUTCMonth() + 1}-#{loan.loaned_on.getUTCDate()}-#{loan.loaned_on.getUTCFullYear()}
              td #{loan.return_by.getUTCMonth() + 1}-#{loan.return_by.getUTCDate()}-#{loan.return_by.getUTCFullYear()}
              - if (loan.returned_on !== null)
                td #{loan.returned_on.getUTCMonth() + 1}-#{loan.returned_on.getUTCDate()}-#{loan.returned_on.getUTCFullYear()}
              - if (loan.returned_on === null)
                td= loan.returned_on
              td
                each book in books
                  - if (loan.book_id === book.id)
                    a(href='/' + book.id + '/return') Return Book
