extends ../layout

block content
    h1= title
    //- 
      Place info from the book loan into the correct fields
      Submit the updates to the loan in the database
    p
        strong Book Title: 
        | #{book.title}
    p
        strong Loaned By: 
        | #{patrons[0].first_name} #{patrons[0].last_name}
    p
        strong Loaned On: 
        | #{loans[0].loaned_on.getUTCMonth() + 1}-#{loans[0].loaned_on.getUTCDate()}-#{loans[0].loaned_on.getUTCFullYear()}
    p
        strong Return By: 
        | #{loans[0].return_by.getUTCMonth() + 1}-#{loans[0].return_by.getUTCDate()}-#{loans[0].return_by.getUTCFullYear()}
    form#returnBook( method="POST" action='/' + loans[0].id + '/return')
        p
            label(for='returned_on') Returned on:
            input#returned_on(type='date' value=date name='returned_on')
        p
            input#returnBookSubmit(type='submit' value='Return Book')
